body {
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    background-color: #f5f5f5;
    margin: 0;
}

.intro-section {
    padding: 60px 20px;
    background: linear-gradient(to right, #2C3E50, #3498DB);
    color: white;
    margin-bottom: 0;
    position: relative;
    top: -20px;
}

.profile-img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    transition: transform 0.2s;
}

.gradient-text {
    background: -webkit-linear-gradient(45deg, #FEC501, #F39C12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: bold;
}

.location i {
    background: -webkit-linear-gradient(45deg, #FEC501, #F39C12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
}

.location-text {
    font-size: 1.5em;
}

.hire-me-btn {
    background-image: linear-gradient(to right, #2C3E50, #3498DB);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background 0.3s ease;
}

.hire-me-btn:hover {
    background-image: linear-gradient(to right, #3498DB, #2C3E50);
}

header, footer {
    color: #ffffff;
}

.navbar-brand {
    font-weight: bold;
}

footer div {
    margin-bottom: 10px;
}

footer i {
    color: #ffffff;
    margin: 0 10px;
}

.container-fluid {
    padding: 0 20px;
    margin: 0;
    width: 100%;
}

.container-fluid > section {
    background: #ffffff;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.case-study {
    background: #F4F4F4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.case-study:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.affiliation-carousel-wrapper {
    overflow: hidden;
    position: relative;
    padding: 0 20px;
}

.affiliation-carousel {
    display: flex;
    animation: roll 60s linear infinite;
}

.affiliation-item {
    flex: 0 0 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.affiliation-item img {
    max-height: 80px;
}

@keyframes roll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.chart {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chart-part {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ccc;
}

.chart-left {
    left: 0;
    background: linear-gradient(to left, #2C3E50, #3498DB);
    clip-path: polygon(100% 0, 0% 50%, 100% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.chart-right {
    right: 0;
    background: linear-gradient(to right, #2C3E50, #3498DB);
    clip-path: polygon(0% 0, 100% 50%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.random-facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.random-facts img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.random-facts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.random-facts li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Additional CSS for Revealing Elements on Scroll */
.reveal-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2.4s ease-out, transform 2.4s ease-out;
}

.reveal-on-scroll.active {
    opacity: 1;
    transform: translateY(0);
}

#chart {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

#chart .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chart img {
    max-width: 80%;
    margin: 20px auto;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.case-study {
    background: #F4F4F4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(209, 196, 196, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.case-study:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner img {
    max-height: 300px;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ffe6e6;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.image-stack {
    position: relative;
    width: 100%;
    max-width: 300px; /* Adjust size as necessary */
    margin: 20px auto;
    height: 600px; /* Adjust height as necessary */
}

.stack-image {
    position: absolute;
    width: 100%;
    height: 550px;
    transition: opacity 0.5s ease-in-out;
    top: 0;
    padding-left: 0;
    z-index: 0;
    opacity: 0;
}

.stack-image.active {
    opacity: 1;
    z-index: 1;
}
.case-study-text {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.embed-responsive {
    position: relative;
    display: block;
    width: 80%; /* Smaller width */
    margin: 0 auto; /* Center the iframe */
    padding: 0;
    overflow: hidden;
    border-radius: 10px; /* Add border radius */
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.case-study-content .content-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
}

.case-study-content {
    margin-top: 40px; /* Add some margin at the top */
}

.case-study-content h2.section-title {
    margin-top: 0; /* Remove margin at the top of the section title */
}
.larger-text {
    font-size: 1.8rem; /* Adjust the size as needed */
    line-height: 1.5;   /* Optional: to improve readability */
}
.edge-text ul {
    font-size: 0.9em; /* Adjust as needed */
    line-height: 1.5;
}

.large-img {
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto;
    display: block;
}
.content {
    padding-left: 200px; /* Space between the image and text */
}

.egg-animation {
    width: 100%;
    border-radius: 50% 50% 60% 60% / 55% 55% 45% 45%; /* Egg shape */
    animation: fadeIn 4s ease-in-out forwards, lighten 2s ease-in-out infinite alternate;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lighten {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(150%);
    }
}


